In [7]:
Set_1 = {True, False, 0, 1, 2.5, 3+5j, "Mansi", "Mansi", 0, 1, 3+5j}

In [5]:
set_2 = {"z", "d", "a", 2, 1 , 5, "a"}

print(type(set_2))

print(set_2)

<class 'set'>
{1, 2, 5, 'a', 'z', 'd'}

In [6]:
set_2

{1, 2, 5, 'a', 'd', 'z'}

In [8]:
Set_1

{(3+5j), 2.5, False, 'Mansi', True}

In [9]:
len(Set_1)

5

In [10]:
# set()
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [11]:
for i in Set_1:
    print(i)

False
True
2.5
(3+5j)
Mansi

In [12]:
Set_1.add("Bhut Hard")
Set_1

{(3+5j), 2.5, 'Bhut Hard', False, 'Mansi', True}

In [13]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'papaya', 'banana', 'mango', 'apple', 'pineapple'}

In [14]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'kiwi', 'cherry', 'orange', 'apple'}

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [16]:
thisset = {"apple", "cherry"}

thisset.remove("banana")

print(thisset)

KeyError: 'banana'

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [19]:
thisset = {"apple", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [24]:
thisset = {0, 1, 2.5, 3+5j,"apple", "banana", "cherry", True, False, 0, 1, 2.5, 3+5j, "Mansi", "Mansi", 0, 1, 3+5j}

x = thisset.pop()

print(x)

print(thisset)

0
{1, 2.5, 'banana', (3+5j), 'cherry', 'apple', 'Mansi'}

In [25]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [26]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [27]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [28]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [29]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'Elena', 1, 2, 3, 'bananas', 'b', 'c', 'John', 'cherry', 'a', 'apple'}

In [30]:
myset = set1 | set2 | set3 |set4
print(myset)

{'Elena', 1, 2, 3, 'bananas', 'b', 'c', 'John', 'cherry', 'a', 'apple'}

In [31]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'c', 'a'}

In [32]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [37]:
# Keep all items from set1 that are not in set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}