In [1]:
# Function --> A special block of code writeen to perform a specific task.

In [2]:
# Real life example : -- bank's calculate intrests.

In [3]:
# Simple Intrest = (P * R * T)/100

In [6]:
# Syntax

def Function_Name(Parameters):
    return Value

In [7]:
def simple_intrest(P, R, T):
    return ((P * R * T)/100)
    # print((P * R * T)/100)

In [10]:
simple_intrest(P = 5000, R = 10.5, T = 5)

2625.0

In [11]:
simple_intrest(5000, 10.5, 5)

2625.0

In [15]:
def my_function():
  print("Hello from a function")

In [16]:
my_function()

Hello from a function

In [17]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [18]:
def multiply(a, b, c):
    print(a * b * c)

In [19]:
multiply(2,7)

TypeError: multiply() missing 1 required positional argument: 'c'

In [20]:
multiply(2,7,9)

126

In [21]:
def multiply(a, b, c):
    pass

In [22]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [23]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [24]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [25]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [26]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [27]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [28]:
# Factorial of a number using recursion

def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

num = 7

# check if the number is negative
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

The factorial of 7 is 5040

In [29]:
x = lambda a: a + 10
print(x(5))

15

In [30]:
y = lambda e: e * 3

print(y(5))

15

In [31]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [32]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [33]:
print(mydoubler("amit"))

amitamit